<!DOCTYPE html>
<html lang="en">
<body>
<%- include("./header.ejs") %>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <img class="img-fluid" style="border-radius: 100px;" width="350" src="https://i.ibb.co/B6HXW11/Screenshot-20220609-174114.png" alt="logo">
        </div>
        <div class="col-lg-8">
            <h3>Stalin Junior - Uptime</h3>
            <p>Stalin Junior - Uptime is an uptime site that aims to keep the projects made with glitch, which started to be developed in 2022, open 24/7.</p>
            <h4>How to use</h4>
            <p>In order to benefit from our site, you must first have a discord account. After creating your discord account, click the "Log In" button in the upper right corner, then allow our bot to access your account (Bot will only be able to access avatar and banner)
After performing these steps, your discord username will appear in the upper right corner, click on your username, then two options will appear: dashboard and log out. From there, select the dashboard, then it will direct you to the dashboard, enter your glitch link in the textbox there and press the add project button under the textbox. Congratulations, you have successfully upgraded your site.</p>
    </div>
    <%- include("./footer.ejs") %>
</div>
</div>
</body>
</html>